{% extends 'base.html.twig' %}

{% block title %}{{ 'user.registration.page.title'|trans|title }}{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1>{{ 'user.registration.title'|trans|title }}</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn">{{ 'user.registration.form.submit_button'|trans|capitalize }}</button>
    {{ form_end(registrationForm) }}
{% endblock %}
